<h2>Are you sure? You want to Delete?</h2>
<table class="table table-striped table-bordered">
    <tr>
        <td> Customer Name: </td>
        <td> {{custrec.customerName}}</td>
    </tr>
    <tr>
        <td> Address: </td>
        <td> {{custrec.address}}</td>
    </tr>
    <tr>
        <td> Email: </td>
        <td> {{custrec.emailID}}</td>
    </tr>
    <tr>
        <td> Mobile No: </td>
        <td> {{custrec.mobileNo}}</td>
    </tr>
    <tr>
        <td> Credit Limit: </td>
        <td> {{custrec.creditLimit}}</td>
    </tr>
</table>
<input type="button" (click)="DeleteCust(custrec.customerID)" value="Delete" class="btn btn-danger" /> 
<input type="button" (click)="GoBack()" value="Back" class="ms-2 btn btn-primary" />
